.buy
{
    background: #FFFFFF;
    min-height: 75vh;
    padding-bottom: 60px;
}
.shop_item
{
    background: #f1f6f7;
    padding-bottom: 20px;
}
.shop_image
{
    width: 100%;
    text-align: center;
}
.shop_image img
{
    width: 100%;
    height: 200px;
    overflow: hidden;
}
.shop_title_container
{
    padding: 20px 0;
    border-bottom: solid 2px #da8661;
}
.shop_title h1
{
    font-size: 36px;
    color: #717171;
    line-height: 1.2;
}
.shop_price
{
    font-size: 25px;
    font-weight: 500;
    color: #717171;
    margin-top: 12px;
    line-height: 0.75;
}
.shop_button
{
    margin-top: 20px;
}
.price{
    margin-bottom: 20px;
    border: 1px solid #BFBFBF;
    box-shadow: 2px 2px 2px #aaaaaa;
    position: relative;
}
.price h1{
    color: #717171;
    line-height: 1.2;
    padding: 10px 6px;
}
.pay{
    position: absolute;
    right: 6px;
    top: 6px;
    width: 100px;
    height: 63px;

}
.pay span{
    font-size: 14px;
    line-height: 63px;
}
