<div class="buy">
  <div class="container">
    <div class="row price">
      <h1>
        Bill: {{cash}}
      </h1>
      <button class="button pay" (click)="calce()"><span>pay</span></button>
    </div>
    <div class="row">
      <div *ngFor="let shop of shops" class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="shop_item">
          <div class="shop_image"><img src="{{shop.image}}" alt="shops"></div>
          <div class="shop_title_container text-center">
            <div class="shop_title"><h1>{{shop.name}}</h1></div>
            <div class="shop_price">${{shop.pr}}</div>
          </div>
          <ul class="list-inline text-center">
            <li class="list-inline-item" ><button class="button shop_button" (click)="delete(shop)"><span>delete</span></button></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
